
@font-face {
    font-family: Font-1;
    src: url(./vertopal.com_366a8327f2faf30683f7.ttf);
}


@font-face {
    font-family: Font-2;
    src: url(./vertopal.com_8bb4f547496dc0a47504.ttf);
}

@font-face {
    font-family: Font-3;
    src: url(./vertopal.com_54c59ca940d4d9b45490.ttf);
}

@font-face {
    font-family: Font-4;
    src: url(./vertopal.com_fd6ecf062824341c5748.ttf);
}

@font-face {
    font-family: Font-5;
    src: url(./vertopal.com_cafb8427c8f78c8ed3d2.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    padding: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    height: 100vh;
    background-color: black;
    perspective: 2000px;
}

.card {
    position: relative;
    width: 23%;
    height: 80vh;
    border: none;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}


.front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px; 
    transform: rotateY(180deg);
}

.cardlabel{
    width: 80%;
    border-top: 1px solid black;
    padding-top: 4px; 
}
.cardlabel h5 {
    font-size: 10px;
    font-weight: 400;
    font-family: Font-1;
}

.cardcenter {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading {
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;   
}
.heading h1 {
    font-size: 62px;
    font-family: font-2;
    text-transform: lowercase;
}
.heading p {
    font-size: 12px;
    font-family: font-1;  
}

.secondpara {
    margin-top: 12px;
    width: 100%;
    font-size: 12px;
    font-family: font-1;
    text-align: left;
    border-top: .5px solid black;
    padding-top: 4px;
}
.cardbottom {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardbottom > p {
    font-size: 12px;
    font-family: font-1;
}

.cardbottom i {
    font-size: 24px;
}
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(100, 216, 207); */
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    background-color: rgb(171, 209, 114);
    color: white;
    overflow: hidden;   
    border-radius: 10px;
    
}

.back2 {
    background-color: rgb(64, 101, 136);
}

.back3 {
    background-color: rgb(84, 55, 55);
}

.back4 {
    background-color: rgb(221, 209, 99);
}
.back .image {
    width: 105px;
    height: 116px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: inherit;
}


.loop {
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
    white-space: nowrap;
}
.loop > h2 {
    font-size: 54px;
    animation-name: anim;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.cardbottom1 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.cardbottom1 > p {
    font-size: 12px;
    font-family: font-1;
}

.cardbottom1 i {
    font-size: 24px;
    
}